/**
    
#########################################################################
#
# ===       
#
# === Written by Borja Lopez Fernandez
#
# === Casale & Beach
# 
#
#
#########################################################################

*/


.TemperatureWarm {
   color:         goldenrod ;
}

.TemperatureVeryWarm {
   color:         goldenrod ;
}

.TemperatureHot {
   color:         orange ;
}

.TemperatureVeryHot {
   color:         orangered ;
}
